@charset "utf-8";

body {
  background:#ffffe0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.topbar-inner, .topbar .fill {
  background-color: #f5f5f5;
  background-image: none;
  
  background-repeat: repeat-x;
  box-shadow: 0 1px 3px rgba(0, 146, 152, 0.25), 0 -1px 0 rgba(0, 144, 152, 0.1) inset;
}

.topbar h3 a, .topbar .brand{
  color:#333;
}

.topbar div > ul .active > a, .nav .active > a {
    background-color: rgba(0, 146, 152, 0.5);
}

.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
    background-color: rgba(0, 146, 152, 0.05);
    color: #FFFFFF;
    text-decoration: none;
}

/** style */
.fluentgallery{
  position:relative;
}

.fluentgallery .tile{
  position: absolute;
  text-align:center;
  background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(222, 222, 222, 0.4);
    padding: 5px;
    width: 212px;
    border:1px solid #fefefe;
    margin:5px;
}

.capture{
  height:200px;
}

.tile .img_content{
  max-width:200px;
  height:200px;
  margin:0px auto;
}

.user{
  padding:5px;
  clear:both;
}

.user img{
  width:30px;
  height:30px;
  float:left;
}

.user p{
  float : left;
  font-size : 10px;
  padding-left: 10px;
  width: 80%;
}

