@charset "utf-8";

body {
  background:url(../images/bg.jpg) fixed right bottom no-repeat;
  padding-top: 60px;
  padding-bottom: 40px;
}

/** style */
.fluentgallery{
  position:relative;
}

.fluentgallery .tile{
  position: absolute;
  text-align:center;
  background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(134, 250, 125, 0.4);
    padding: 5px;
    width: 212px;
    border:1px solid #efefef;
    margin:5px;
}

.tile .img_content{
  max-width:200px;
  margin:0px auto;
}

.user{
  padding:5px;
  clear:both;
}

.user img{
  width:30px;
  height:30px;
  float:left;
}

.user p{
  float : left;
  font-size : 10px;
  padding-left: 10px;
  width: 80%;
}

